<div  id="<%= dom_id product %>" >
  <div>
    <%=image_tag product.img_url, class:"sz"%>
  </div>
  <div class="card-body">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Desciption:</strong>
    <%= product.desciption %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= product.cost %>
  </p>

  <p>
    <strong>T schedule:</strong>
    <%= product.t_schedule %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>
  </div>
</div>
